.logo{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
  color: white;
}

.rem{
  color:red;
}

.navbar {
  padding: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  padding-top: 60px; /* Adjust the padding to accommodate the navbar height */
}

.navbar ul {
  display: flex; /* Use Flexbox to create a flexible layout */
  list-style-type: none; /* Remove default list styles */
  margin: 0;
  padding: 0;
  background-color: white; /* Navbar background color */
  left: 10px;
  right: 10px;
}

a{
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.navbar li {
  flex: 1; /* Distribute the space evenly among list items */
}

.navbar a {
  display: block;
  text-decoration: none;
  color: red; /* Link text color */
  text-align: center;
  padding: 5px; /* Adjust padding as needed */
}

.navbar a:hover {
  background-color: black; /* Background color on hover */
  color: white;
  transition: color 0.30s ease-in-out;
  opacity: 0.5s
}

.nav-link {
  margin-right: 20px; /* Adjust spacing between buttons */
  text-decoration: none; /* Remove default underline */
  color: white; /* Text color */
  font-weight: bold; /* Bold font weight */
  font-size: 16px; /* Font size */
  padding: 10px 15px; /* Padding for button */
  border-radius: 10px; /* Rounded corners */
  background-color: white; /* Background color */
}

body {
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right, white 44%, red);
}

.header-main {
  z-index: 2;
}

.page-header {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: black; /* Example text color */
  padding: 20px;
  text-align: center;
}

.insta-logo, .twitter-logo, 
.github-logo, .linkedin-logo {
  
}
